{% extends "base_templates/base.html" %}

{% block subnav %}

{# implements example in https://stackoverflow.com/questions/18600031/changing-the-active-class-of-a-link-with-the-twitter-bootstrap-css-in-python-fla #}

{% set navigation_bar = [
    (url_for('dashboard.tag_list_page'), 'admintags', 'Tags'),
    (url_for('dashboard.capture_list_page'), 'admincaptures', 'Captures'),
    (url_for('dashboard.user_list_page'), 'adminusers', 'Users')
] -%}

{% set active_page = active_page|default('admintags') -%}

<div class="tabs">
    <ul id="navigation">
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="is-active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}