{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}
{% set tag_active_page = tag_active_page|default('taginfo') -%}
{% set navigation_bar = [
    (url_for('dashboard.tag_page', tagid=tag.id), 'taginfo', 'Info'),
    (url_for('dashboard.configure_page', tagid=tag.id), 'tagconf', 'Configure'),
    (url_for('dashboard.sim_page', tagid=tag.id), 'tagsimulate', 'Simulate'),
    (url_for('dashboard.tag_captures_page', tagid=tag.id), 'tagcaptures', 'Captures'),
    (url_for('dashboard.tag_tagviews_page', tagid=tag.id), 'tagviews', 'tagViews')
] -%}

{% block title %}

{% endblock %}
{% block subtitle %}

{% endblock %}



{% block main %}
{% block tagnav %}
<section class="section">
    <div class="container">
        <h6>Tag {{tag.id}}</h6>
        <div class="tabs">
            <ul id="tagnav">
                {% for href, id, caption in navigation_bar %}
                <li{% if id == tag_active_page %} class="is-active"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}

{% block tagmain %}
{% endblock %}

{% endblock %}
