{% extends "base_templates/box_base.html" %}  {# base_templates/box_base.html extends base_templates/base.html #}
{% set box_active_page = "boxcaptures" %}

{% block boxmain %}
<section class="section">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Scanned by</th>
              <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            {% for capture in capturelist %}
            <tr>
              <td>
                  <a href="{{ url_for('dashboard.capture_page', captid=capture.id) }}">{{ capture['id'] }}</a>
              </td>
              <td>{{ capture['scanned_by_user'] }}</td>
              <td>{{ capture['timestamp'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}