{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block title %}

{% endblock %}
{% block subtitle %}

{% endblock %}

{% block main %}
<div class="tabs secondlevel">
  <ul>
    <li class="is-active"><a>Boxes</a></li>
    <li><a>Box {{box.id}}</a></li>
  </ul>
</div>

<div class="tabs secondlevel">
  <ul>
    <li><a>Info</a></li>
    <li><a>Configure</a></li>
    <li><a href="{{ url_for('dashboard.sim_page', boxid=box.id) }}">Simulate</a></li>
    <li><a>Captures</a></li>
    <li><a>BoxViews</a></li>
    <li><a href="../../box/{{box.serial}}">Consumer</a></li>
  </ul>
</div>



{% endblock %}
