{% extends "base_templates/config_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}
{% set box_active_page = "boxconf" %}
{% block headerscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.js"></script>
<script src="{{ url_for('dashboard.static', filename='webserial.js') }}" defer></script>
<script src="{{ url_for('dashboard.static', filename='confignfc.js') }}" defer></script>

{% endblock %}


{% block configheader %}
    <div id="notSupported" class="hidden notification is-danger is-light">
      Sorry, <b>Web Serial</b> is not supported on this device, make sure you're
      running Chrome 78 or later and have enabled the
      <code>#enable-experimental-web-platform-features</code> flag in
      <code>chrome://flags</code>
    </div>
{% endblock %}
{% block configfooter %}
    <button id="btnConnect" type="button">Connect</button>

    <pre id="log"></pre>
{% endblock %}


