{% extends "base_templates/page_base.html" %}
{% set active_page = "admincaptures" %}


{% block main %}
<section class="section">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Parent box</th>
              <th>Scanned by</th>
              <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            {% for capture in capturelist %}
            <tr>
              <td>
                  <a href="{{ url_for('dashboard.capture_page', captid=capture.id) }}">{{ capture['id'] }}</a>
              </td>
              <td>
                  <a href="{{ url_for('dashboard.box_page', boxid=capture.parent_box) }}">{{ capture['parent_box'] }}</a>
              </td>
              <td>{{ capture['scanned_by_user'] }}</td>
              <td>{{ capture['timestamp'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>



{% endblock %}