{% extends "base_templates/tag_plot_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block subpage %}
Capture {{ capture.id }}
{% endblock %}

{% block title %}
Capture {{ capture.id }}
{% endblock %}
{% block subtitle %}
{{ capture.name }}
{% endblock %}

{% block main %}
  <div class="container">
    <div class="tabs">
  <ul>
    {% if "temp" in sensor %}
    <li class="is-active">
      {% else %}
      <li>
        {% endif %}
      <a href="{{ url_for('captureview.temp', captid=capture.id) }}">Temperature</a>
    </li>
    {% if "rh" in sensor %}
<li class="is-active">
    {% else %}
    <li>
      {% endif %}
      <a href="{{ url_for('captureview.rh', captid=capture.id) }}">Humidity</a>
    </li>
    <li>
      <a href="{{ url_for('captureview.status', captid=capture.id) }}">Status</a>
    </li>
  </ul>
</div>
  </div>

  <section class="section">
    <div class="container">
      <div class="chart-container" style="position: relative; height:80vh; width:100%">
        <canvas id="myChart"></canvas>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Reading</th>
          </tr>
        </thead>
        <tbody>
          {% for smpl in temps %}
          <tr>
            <td>{{smpl.t}}</td>
            <td>{{smpl.y|round(2)}}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </section>


{% endblock %}
