{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block headerscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.js"></script>
{% endblock %}

{% block title %}
{{ userobj.first_name }}
{% endblock %}
{% block subtitle %}
{% endblock %}

{% block main %}
<section class="section">
  <div class="container">
    <h6>Recently viewed</h6>
    <table class="table">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for bv in bvlist %}
        <tr>
          <td>
              <a href="{{ url_for('tagview.tag', serial=bv.tagserial) }}">{{ bv.tagserial }}</a>
          </td>
          <td>{{ bv.timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
