{% extends "base_templates/base.html" %}

{% block logo %}
<a class="navbar-item" href="{{ url_for('adminbp.home_page') }}"><h4>plotsensor admin</h4></a>

 <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
{% endblock  %}

{% block menucontent %}
 <div class="navbar-end">
  <div class="navbar-item">
    <a class="button" href="/">Consumer</a>
  </div>
{% if signinpage %}
 <div class="navbar-item">
  <button class="button" disabled>Sign in</button>
</div>
{% else %}
  <div class="navbar-item">
    <a class="button" href="{{ url_for('adminbp.signout') }}">Sign out</a>
  </div>
{% endif %}
</div>
</div>
</div>
{% endblock %}

{% block subnav %}
<section class="section">
  <div class="container">
{# implements example in https://stackoverflow.com/questions/18600031/changing-the-active-class-of-a-link-with-the-twitter-bootstrap-css-in-python-fla #}

{% set navigation_bar = [
    (url_for('adminbp.tag_list_page'), 'admintags', 'Tags'),
    (url_for('adminbp.capture_list_page'), 'admincaptures', 'Captures'),
    (url_for('adminbp.user_list_page'), 'adminusers', 'Users')
] -%}

{% set active_page = active_page|default('admintags') -%}

<div class="tabs">
    <ul id="navigation">
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="is-active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

  </div>
</section>
{% endblock %}