{% extends "base_templates/admin_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}
{% set tag_active_page = tag_active_page|default('taginfo') -%}
{% set navigation_bar = [
    (url_for('adminbp.tag_page', tagid=tag.id), 'taginfo', 'Info'),
    (url_for('adminbp.configure_page', tagid=tag.id), 'tagconf', 'Configure'),
    (url_for('adminbp.sim_page', tagid=tag.id), 'tagsimulate', 'Simulate'),
    (url_for('adminbp.tag_captures_page', tagid=tag.id), 'tagcaptures', 'Captures'),
    (url_for('adminbp.tag_tagviews_page', tagid=tag.id), 'tagviews', 'TagViews')
] -%}

{% block title %}
Tag {{ tag.id }}
{% endblock %}
{% block subtitle %}{% endblock %}

{% block main %}
{% block tagnav %}
    <div class="container">
        <div class="tabs">
            <ul id="tagnav">
                {% for href, id, caption in navigation_bar %}
                <li{% if id == tag_active_page %} class="is-active"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block tagmain %}
{% endblock %}

{% endblock %}
