{% from "base_templates/form_macros.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>cupl</title>
  <meta name="description" content="">
  <meta name="author" content="Malcolm Mackay">
  <link rel="icon" href="{{ url_for('dashboard.static', filename='img/favicon.ico') }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
  </script>
  <script type="text/javascript">
  $(document).on('click','#usermenu', function(e){
      $(this).toggleClass('is-active');
  });
  </script>
  {% block headerscripts %}
  {% endblock %}

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='normalize.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='style.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
      <div class="navbar-brand">
        {% block logo %}
        {% endblock %}
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        {% block menucontent %}
        {% endblock %}
      </div>
    </div>
  </nav>
  {% block subnav %}
  {% endblock %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <section class="section">
        <div class="container">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="notification is-danger is-light">
                <ul class=flashes>
                  {%- for message in errors %}
                  <li>{{ message }}</li>
                  {% endfor -%}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["info"]) %}
              {% if messages %}
              <div class="notification is-primary is-light">
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}
            {% endwith %}
        </div>
    </section>
  {% endif %}
  {% endwith %}

  {% block main %}
  {% endblock %}

  <div class="footer pt-3 pb-4">
    <div class="container">
      <nav class="level">
        <div class="level-left">
          <div class="level-item mr-1">
            <a href="https://github.com/cuplsensor/wsfrontend">cuplfrontend</a>
          </div>
          <div class="level-item">
            by Plotsensor Ltd.
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
          <a href="https://github.com/cuplsensor/wsfrontend/blob/master/LICENSE">Licence</a>
        </div>
        <div class="level-item">
          <a href="{{ url_for('dashboard.version') }}">Version</a>
        </div>
        <div class="level-item">
          <a href="https://wsfrontend.readthedocs.io/en/latest/index.html#index">Docs</a>
        </div>
        </div>

      </nav>
    </div>
  </div>








<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
