{% extends "base_templates/admin_tag_base.html" %}
{% import 'base_templates/config_macros.html' as cfg %}
{% block tagmain %}
<section class="section">
  <div class="container">
    {% block configheader %}{% endblock %}
    {{ cfg.serial(tag) }}
    {{ cfg.usehttps() }}
    {{ cfg.baseurl() }}
    {{ cfg.usehmac() }}
    {{ cfg.secretkey(tag) }}
    {{ cfg.trhradio() }}
    {{ cfg.smplinterval() }}
    {{ cfg.configtext() }}
    {% block configfooter %}{% endblock %}
  </div>
</section>
{% endblock %}