{% extends "base_templates/base.html" %}

{% block logo %}
<a class="navbar-item" href="{{ url_for('dashboard.home_page') }}"><h4>plotsensor</h4></a>

<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
{% endblock  %}

{% block menucontent %}
<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
        <a class="button" href="/admin/">Admin</a>
    </div>
  </div>
</div>
{% endblock %}
