{% extends "base_templates/admin_base.html" %}
{% set active_page = "adminusers" %}

{% block title %}
List of Users
{% endblock %}
{% block subtitle %}

{% endblock %}

{% block adminmain %}
    <section class="section">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>OAuth_ID</th>
                    <th>Time Registered</th>
                </tr>
                </thead>
                <tbody>
                {% for user in userlist %}
                <tr>
                      <td>
                          <a href="{{ url_for('adminbp.user_page', userid=user.id) }}">{{ user.id }}</a>
                      </td>
                    <td>{{ user.oauth_id }}</td>
                    <td>{{ user.timeregistered }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>



{% endblock %}
