{% extends "base_templates/admin_base.html" %}
{% set active_page = "admincaptures" %}

{% block title %}
List of Captures
{% endblock %}

{% block adminmain %}
<section class="section">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Parent Tag</th>
              <th>Timestamp</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for capture in capturelist %}
            <tr>
              <td>
                  <a href="{{ url_for('captureview.capture', captid=capture.id) }}">{{ capture['id'] }}</a>
              </td>
              <td>
                  <a href="{{ url_for('adminbp.tag_page', tagid=capture.parent_tag) }}">{{ capture['parent_tag'] }}</a>
              </td>
              <td>{{ capture['timestamp'] }}</td>
              <td><a href="{{ url_for('adminbp.delete_capture', captid=capture.id, next=request.url) }}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>



{% endblock %}