{% extends "base_templates/tag_base.html" %}

{% block tagpagescripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
<script>
  function initChart() {
    var ctx = document.getElementById("myChart");
    var plotdata = {{temps|tojson}};
    var linechartdata = {
      datasets: [{
        label: "Relative Humidity (%)",
        backgroundColor: "rgba(153,226,255,0.5)",
        borderColor: "rgba(153,226,235,1)",
        pointBackgroundColor: "rgba(153,226,235,1)",
        label: "Temperature (°C)",
        backgroundColor: "rgba(220,100,94,0.5)",
        borderColor: "rgba(220,100,94,1)",
        pointBackgroundColor: "rgba(220,100,94,1)",
        label: "Battery (mV)",
        backgroundColor: "rgba(208, 170, 255, 0.5)",
        borderColor: "rgba(208, 170, 255, 1)",
        pointBackgroundColor: "rgba(208, 170, 255, 1)",
        data: {{temps|tojson}}
      }]
    }
    var myChart = new Chart(ctx, {
      type: 'line',
      data: linechartdata,
      options: {
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            type: 'time',
            distribution: 'linear',
            time: {
              minUnit: 'day',
              tooltipFormat: 'D MMM YY h:mm'
            }

          }],
          yAxes: [{
            ticks: {
              suggestedMin: {{miny}},
              suggestedMax: {{maxy}}
            }
          }]
        }
      }
    });
  }
  window.onload = initChart;
</script>
{% endblock %}

{% block subpage %}
Battery
{% endblock %}


{% block main %}
  <section class="section">
    <div class="container">
      <div class="chart-container" style="position: relative; height:30vh; width:100%">
        <canvas id="myChart"></canvas>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Reading</th>
          </tr>
        </thead>
        <tbody>
          {% for smpl in temps %}
          <tr>
            <td>{{smpl.t}}</td>
            <td>{{smpl.y|round(2)}}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </section>


{% endblock %}