{% extends "base_templates/admin_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}
{% set active_page = "admintags" %}
{% block title %}
Add Tag
{% endblock %}

{% block adminmain %}
<section class="section">
    <div class="container">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="field">
                <div class="control">
                    {{ form.serial.label(class_='label') }} {{ form.serial(size=8, class_='input') }}
                </div>

            </div>
            <div class="field">
                <div class="control">
                    {{ form.secretkey.label(class_='label') }} {{ form.secretkey(size=16, class_='input') }}

                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.fwversion.label(class_='label') }} {{ form.fwversion(size=8, class_='input') }}

                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.hwversion.label(class_='label') }} {{ form.hwversion(size=8, class_='input') }}

                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.description.label(class_='label') }} {{ form.description(size=40, class_='input') }}

                </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <input class="button is-link" type="submit"></input>
              </div>
              <div class="control">
                <a class="button is-link is-light" href="{{ url_for('adminbp.tag_list_page') }}">Cancel</a>
              </div>
            </div>


        </form>
    </div>
</section>






{% endblock %}
