{% extends "base_templates/admin_tag_base.html" %}
{% import 'base_templates/config_macros.html' as cfg %}
{% set tag_active_page = "tagsimulate" %}

{% block tagmain %}
<section class="section">
  <div class="container">
    <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="field is-grouped is-grouped-multiline">
                <p class="control">
                    {{ form.frontendurl.label(class_='label') }} {{ form.frontendurl(class_='input') }}
                </p>
                <p class="control">
                    {{ form.nsamples.label(class_='label') }} {{ form.nsamples(class_='input') }}
                </p>
                <p class="control">
                    {{ form.smplintervalmins.label(class_='label') }} {{ form.smplintervalmins(class_='input') }}
                </p>
                <p class="control">
                    {{ form.minbatv.label(class_='label') }} {{ form.minbatv(class_='input') }}
                </p>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    {{ form.tagformat.label(class_='label') }} {{ form.tagformat(class_='radio') }}
                </p>

            </div>
            <div class="field is-grouped is-grouped-multiline">
                <p class="control">
                    {{ form.bor.label(class_='label') }} {{ form.bor(class_='checkbox') }}
                </p>
                <p class="control">
                    {{ form.svsh.label(class_='label') }} {{ form.svsh(class_='checkbox') }}
                </p>
                <p class="control">
                    {{ form.wdt.label(class_='label') }} {{ form.wdt(class_='checkbox') }}
                </p>
                <p class="control">
                    {{ form.misc.label(class_='label') }} {{ form.misc(class_='checkbox') }}
                </p>
                <p class="control">
                    {{ form.lpm5wu.label(class_='label') }} {{ form.lpm5wu(class_='checkbox') }}
                </p>
                <p class="control">
                    {{ form.clockfail.label(class_='label') }} {{ form.clockfail(class_='checkbox') }}
                </p>
            </div>
            <div class="field">
                <p class="control">
                    {{ form.usehmac.label(class_='label') }} {{ form.usehmac(class_='checkbox') }}
                </p>
                <p class="control">
                    {{ form.tagerror.label(class_='label') }} {{ form.tagerror(class_='checkbox') }}
                </p>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <input class="button is-link" type="submit"></input>
              </div>
              <div class="control">
                <a class="button is-link is-light" href="{{ url_for('adminbp.tag_list_page') }}">Cancel</a>
              </div>
            </div>


        </form>

  </div>
</section>

<section class="section">
  <div class="container">
    <code style="word-wrap: break-word">
      <a href="{{simstr}}" id="simurl">{{simstr}}</a>
    </code>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="container">
      <img style="width:40%" src={{ qrcode(simstr) }}>
    </div>
  </div>
</section>







{% endblock %}