{% extends "base_templates/admin_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}
{% set active_page = "admintags" %}
{% block title %}
List of Tags
{% endblock %}
{% block subtitle %}
{% endblock %}

{% block adminmain %}
 <div class="container">
        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ form.serial.label }} {{ form.serial(size=8) }}
            {{ form.secretkey.label }} {{ form.secretkey(size=16) }}
            {{ form.fwversion.label }} {{ form.fwversion(size=8) }}
            {{ form.hwversion.label }} {{ form.hwversion(size=8) }}
            {{ form.description.label }} {{ form.description(size=40) }}
        <input type="submit" value="Go">
        </form>
    </div>
<section class="section">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Serial</th>
              <th>Secret Key</th>
              <th>Firmware Version</th>
              <th>Hardware Version</th>
              <th>Description</th>
              <th>Time Registered</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in taglist %}
            <tr>
              <td>
                  <a href="{{ url_for('adminbp.tag_page', tagid=tag.id) }}">{{ tag.id }}</a>
              </td>
              <td>{{ tag['serial'] }}</td>
              <td>{{ tag['secretkey'] }}</td>
              <td>{{ tag['fwversion'] }}</td>
              <td>{{ tag['hwversion'] }}</td>
              <td>{{ tag['description'] }}</td>
              <td>{{ tag['timeregistered'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>




{% endblock %}
