{% extends "base_templates/admin_tag_base.html" %}  {# base_templates/tag_base.html extends base_templates/base.html #}
{% set tag_active_page = "tagcaptures" %}

{% block tagmain %}
<section class="section">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Timestamp</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for capture in capturelist %}
            <tr>
              <td>
                  <a href="{{ url_for('captureview.capture', captid=capture.id) }}">{{ capture['id'] }}</a>
              </td>
              <td>{{ capture['timestamp'] }}</td>
              <td><a href="{{ url_for('adminbp.delete_capture', captid=capture.id, next=request.url) }}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}